<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Code is running...</p>
    <button onclick="location.href='{% url 'home' %}'">Back</button>
<!-- <img src="/home/nips/newproject/django_project/blog/templates/blog/grozny.jpeg" alt="Schematic Diagram of Testbench" style="height:50px ; width:50px;"> -->
</body>
</html>